<?xml version="1.0" encoding="UTF-8"?><SystemProperties><SystemName>NorbertEGMVirtuel</SystemName><SerialNo>INTERNAL_USE</SerialNo><UsedMedia><Media path="C:\Users\Robot\AppData\Local\ABB Industrial IT\Robotics IT\RobotWare\RobotWare_6.01.1010" name="RobotWare" version="6.01.1010" /></UsedMedia><ControlModule><Option descr="RobotWare Base"></Option><Option descr="709-1 DeviceNet Master/Slave"></Option><Option descr="606-1 Conveyor Tracking"></Option><Option descr="840-4 DeviceNet Anybus Slave"></Option><Option descr="689-1 Externally Guided Motion"></Option><Option descr="616-1 PC Interface"></Option><Option descr="English"></Option></ControlModule><DriveModule><Name>Robot1</Name><Option descr="Drive System IRB 120/140/260/360/1200/1400/1520/1600"></Option><Option descr="IRB 140-6/0.8"></Option></DriveModule></SystemProperties>